* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.payment-title {
  margin-left: 670px;
}
.payment-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-btn {
  margin-left: 700px;
}
