* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.products-title {
  font-family: pacifico, sans-serif;
  font-size: 50px;
  color: rgb(132, 73, 73);
}
.box-container {
  margin-left: 200px;
}
