* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.item-card {
  display: flex;
  margin-top: -160px;
  font-family: Arial, Helvetica, sans-serif;
  img {
    height: 400px;
    width: 400px;
    margin-left: 200px;
    box-shadow: 0 0 2px #000000;
    margin-bottom: 70px;
  }
  .item-card-info {
    margin-left: 100px;
    width: 650px;
    .item-card-title {
      font-family: pacifico, sans-serif;
      color: rgb(132, 73, 73);
      h2 {
        font-size: 60px;
      }
    }
    .item-card-price {
      color: rgb(218, 125, 37);
      font-weight: 700;
      font-size: 40px;
    }
    .item-card-description {
      font-size: 18px;
      margin-top: 30px;
    }
    .item-card-btn {
      button {
        margin: 50px auto 80px auto;
        padding: 15px;
        border-radius: 50px;
        background-color: rgb(219, 180, 107);
        font-size: 20px;
        border: none;
      }
    }
    button:hover {
      cursor: pointer;
    }
  }
}
