* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  img {
    width: 100%;
    margin-top: -30px;
  }
  .banner-1-title {
    margin: -550px auto auto 200px;
    color: white;
    h1 {
      font-family: pacifico, sans-serif;
      font-size: 100px;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
    }
  }
}
