* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.search-page {
  margin: 300px auto auto auto;
  text-align: center;
  .search-bar {
    input {
      height: 50px;
      width: 600px;
      font-size: 25px;
      border-radius: 10px;
      border-style: solid;
    }
  }

  .search-item {
    .search-list {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin: 50px auto 50px 220px;
    }
  }
}
