* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.products {
  padding-top: 100px;
  margin-top: 150px;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  border-radius: 15px;
  transform: scale(0.8);
  text-align: center;
  align-items: center;
  .card-img {
    :hover {
      background-color: rgb(216, 208, 208);
      transform: scale(1.05);
      cursor: pointer;
    }
    img {
      width: 280px;
      height: 280px;
    }
  }
  .card-info {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    h2 {
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      color: brown;
    }
    p {
      font-size: 25px;
      text-align: center;
      margin-top: 10px;
    }
    button {
      margin-top: 15px;
      text-align: center;
      padding: 15px 20px;
      border-radius: 50px;
      background-color: rgb(219, 180, 107);
      font-size: 17px;
      border: none;
      justify-content: center;
      font-family: arial, sans-serif;
    }
    button:hover {
      cursor: pointer;
    }
  }
}
