* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.payment {
  margin: 70px auto 50px 580px;
  font-family: pacifico, sans-serif;
  font-size: 50px;
  color: rgb(132, 73, 73);
}

.total-amount {
  margin: 50px auto 50px 930px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(132, 73, 73);
  h1 {
    font-size: 28px;
  }
}
.payment-btn {
  margin: 50px auto 50px 690px;
  button {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(226, 181, 181);
    border: none;
  }
  :hover {
    cursor: pointer;
  }
}

.payment-success {
  text-align: center;
  padding: 50px 0px;
  font-family: pacifico, sans-serif;
  font-size: 25px;
  color: rgb(132, 73, 73);
  h1 {
    padding: 30px 0px;
  }
  button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(226, 181, 181);
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
}

.empty-cart-notification {
  .empty-notification {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(132, 73, 73);
    margin: 50px auto 100px 650px;
  }
  button {
    margin: auto auto 50px 645px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(226, 181, 181);
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
}
